<a href="https://colab.research.google.com/github/c-susan/datasci_2_manipulation/blob/main/hha507assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Load Packages**

In [18]:
import pandas as pd
import re
import numpy as np

# **Load Data**

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/c-susan/datasci_2_manipulation/main/datasets/healthcare_data_cleaning.csv')
df

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

**____________________________________________________________________________**

## **Data Cleaning**

### Cleaning Column Names

In [20]:
# Removing white and irrevelant special characters.
columnNames = list(df)
df.columns = [name.strip().lower().replace(' ', '_').replace('(', '').replace(')', '') for name in columnNames]
df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,type_of_appointment,average_heart_rate,average_bp,height_in_cm,weight_in_kg,payment_due_$,last_visit_days_ago,visit_duration_mins,number_of_tests,prescription_cost_$
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

### Identifying and Handling Missing Values

In [21]:
# Replaces 'missing' data values with NaN.
df = df.replace('missing', np.nan)
df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,type_of_appointment,average_heart_rate,average_bp,height_in_cm,weight_in_kg,payment_due_$,last_visit_days_ago,visit_duration_mins,number_of_tests,prescription_cost_$
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,NaN,87.91060149353706

### Removing Duplicate Rows

In [22]:
# Identify and remove duplicate rows
df = df.drop_duplicates()
df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,type_of_appointment,average_heart_rate,average_bp,height_in_cm,weight_in_kg,payment_due_$,last_visit_days_ago,visit_duration_mins,number_of_tests,prescription_cost_$
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,Emergency,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742

#### **Summary of Data Cleaning**
<ins>Cleaning Column Names</ins>
- Spaces were removed and replaced with an underscore.
- Parantheses in column names were removed.

<ins>Identifying and Handling Missing Values</ins>
- Missing values in the dataset were labeled as 'missing'. Values labeled 'missing' were then replaced with NaN using numpy (np.nan).

<ins>Removing Duplicate Rows</ins>
- Duplicate rows were removed.

**____________________________________________________________________________**

## **Data Transformation**

### Creating New Columns

In [23]:
# Created a new column called 'location' based on 'city_of_residence' and	'state_of_residence'.
df['location'] = df['city_of_residence'] + ', ' + df['state_of_residence']

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
# Converted the data types for the following calculation to work.
convertedDataType = {
    'patient_age': float,
    'gender': str,
    'city_of_residence': str,
    'state_of_residence': str,
    'has_insurance': str,
    'visited_last_month': str,
    'payment_method': str,
    'preferred_doctor': str,
    'disease_diagnosed': str,
    'medication_prescribed': str,
    'type_of_appointment': str,
    'average_heart_rate': float,
    'average_bp': float,
    'height_in_cm': float,
    'weight_in_kg': float,
    'payment_due_$': float,
    'last_visit_days_ago': float,
    'visit_duration_mins': float,
    'number_of_tests': float,
    'prescription_cost_$': float
}
convertedData = df.astype(convertedDataType)

In [25]:
# Created a new column called 'bmi' that calculates the bmi of patients using values in columns 'weight_in_kg' and 'height_in_cm'.
df['bmi'] = (convertedData['weight_in_kg'] / ((convertedData['height_in_cm'] * 0.01) ** 2))

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
# Result that shows the new columns 'location' and 'bmi' at the end.
df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,...,average_bp,height_in_cm,weight_in_kg,payment_due_$,last_visit_days_ago,visit_duration_mins,number_of_tests,prescription_cost_$,location,bmi
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,111,183,70,65.45721578126224,193,92,5,15.71751735532889,"West Brian, Kentucky",20.902386
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,...,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952,"East Jocelynfurt, Colorado",19.157088
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,...,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105,"South Lindseyland, Ohio",21.604105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,...,115,171,52,320.2998987723972,175,108,2,8.872859215315316,"Taylorfort, Pennsylvania",17.783250
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,...,89,186,87,264.2147372473319,188,113,3,77.48311304645532,"Birdmouth, Montana",25.147416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,...,109,172,75,488.0316041186948,167,25,5,69.54228578689846,"Michelleburgh, South Dakota",25.351541
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,...,112,169,61,309.16444606680665,183,10,3,63.20478776719894,"West Anthony, Oklahoma",21.357796
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,...,111,165,67,NaN,191,47,2,113.86764025370326,"Mckeetown, Utah",24.609734
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,...,118,179,71,320.8304180033907,172,39,3,35.622420232475356,"Lake Lisachester, Nebraska",22.159109
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,...,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742,NaN,26.892323

### Aggregating Data

In [27]:
# Aggreagated data by grouping data based on diagnosis and averaging the age of patients for each category.
convertedData.groupby('disease_diagnosed').agg({'patient_age':'mean'})

                   patient_age
disease_diagnosed
Allergy              44.848812
Cold                 44.706872
Covid-19             44.584187
Flu                  44.698044
nan                  44.676490

In [28]:
# Summary statistics of columns relating to health measures.
healthMeasures = convertedData[['average_heart_rate','average_bp','height_in_cm','weight_in_kg']]
healthMeasures.describe()

       average_heart_rate    average_bp  height_in_cm  weight_in_kg
count        95000.000000  95000.000000  95000.000000  95000.000000
mean            79.524295    109.522221    174.548558     69.676189
std             10.012055     14.408290     10.017549     14.727347
min             50.000000     80.000000    140.000000     40.000000
25%             73.000000     99.000000    168.000000     59.000000
50%             80.000000    110.000000    175.000000     70.000000
75%             86.000000    120.000000    181.000000     80.000000
max            120.000000    140.000000    210.000000    135.000000

### Multi-Dimensional Analysis

In [29]:
# Created a pivot table showing the average heart rates for each age group, grouped by gender.
convertedData['age_categories'] = pd.cut(convertedData['patient_age'], bins=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100], labels=['10-20', '20-30', '30-40', '40-50','50-60','60-70','70-80','80-90','90-100'])
pivot_data = convertedData.pivot_table(index='age_categories', columns='gender', values='average_heart_rate', aggfunc='mean')
print(pivot_data)

gender             Female       Male      Other        nan
age_categories
10-20           79.672030  79.417070  79.854695  79.446281
20-30           79.351020  79.334106  79.471933  80.223183
30-40           79.562126  79.516915  79.755690  79.097236
40-50           79.472811  79.457577  79.491928  79.615044
50-60           79.474943  79.401160  79.593039  79.923160
60-70           79.232990  79.764444  79.883794  79.551724
70-80           79.215078  79.306878  80.262227  78.213415
80-90           79.613333  78.900585  79.965854  84.281250
90-100          81.225806  80.350000  79.676471  79.000000

#### **Summary of Data Transformation**
<ins>Creating New Columns</ins>
- Created a new column called 'location' that combines the values from the columns 'city_of_residence' and 'state_of_residence'
- Converted the data type to either float or string of respective columns in order to create a new column called 'bmi' that calculates the body mass index (BMI) of patients using values from the columns 'height_in_cm' and 'weight_in_kg'.

<ins>Aggregating Data</ins>
- Aggreagated data by grouping data based on diagnosis and averaging the patient age for each diagnosis.
- Provided a summary of statistics of columns relating to health measures. Includes the count, mean, standard deviation, min, max, and quartiles of the data.

<ins>Multi-Dimensional Analysis</ins>
- Created a pivot table showing the average heart rates for each age group, grouped by gender.

**____________________________________________________________________________**

## **Introduction to Alternative Libraries**

In [ ]:
# Loading Packages
!pip install "modin[all]"
!pip install polars
# Downgraded pandas version from 2.0.3 to 2.0 in to order to be compatible with modin version 0.23.1
!pip install pandas==2.0

import polars as pl
import modin.pandas as mpd
import time

In [32]:
# Comparing load times of polars vs. modin
data = 'healthcare_data_cleaning.csv'

# Captures the start time
start_time = time.time()

# Loads dataset using Modin
modin_df = mpd.read_csv(data)
modin_time = time.time() - start_time

# Loads dataset using Pandas
polars_df = pl.read_csv(data)
polars_time = time.time() - start_time

# Print results and execution times
print(f"Modin Execution Time: {modin_time:.4f} seconds")
print(f"Pandas Execution Time: {polars_time:.4f} seconds")

Modin Execution Time: 0.4945 seconds
Pandas Execution Time: 0.5930 seconds

#### **Summary of Introduction to Alternative Libraries**
Loaded the dataset 'healthcare_data_cleaning.csv' using Polars and Modin and compared their load times. Load times are shown below:
```
Modin Execution Time: 0.4945 seconds
Pandas Execution Time: 0.5930 seconds
```