<a href="https://colab.research.google.com/github/c-susan/datasci_2_manipulation/blob/main/hha507assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Load Packages**

In [ ]:
import pandas as pd
import re
import numpy as np

# **Load Data**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/c-susan/datasci_2_manipulation/main/datasets/healthcare_data_cleaning.csv')
df

### Dataframe Preview

In [ ]:
df.sample(5)

## **Data Cleaning**

 ### 1. Inspecting Data Shape and Size

In [ ]:
# Check the size and shape of the DataFrame
print(f'Number of rows: {df.shape[0]}')
print(f'Number of columns: {df.shape[1]}')
print(f'Total number of cells: {df.size}')

This dataset has 105,000 rows and 20 columns, with a total of 2,100,000 cells.

### 2. Cleaning Column Names

In [ ]:
# Removing white and irrevelant special characters.
columnNames = list(df)
df.columns = [name.strip().lower().replace(' ', '_').replace('(', '').replace(')', '') for name in columnNames]
df

### 3. Identifying and Handling Missing Values

In [ ]:
# Replaces 'missing' data values with NaN.
df = df.replace('missing', np.nan)
df

### 4. Removing Duplicate Rows

In [280]:
# Identify and remove duplicate rows
df = df.drop_duplicates()
df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,type_of_appointment,average_heart_rate,average_bp,height_in_cm,weight_in_kg,payment_due_$,last_visit_days_ago,visit_duration_mins,number_of_tests,prescription_cost_$
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,NaN,174,58,430.68365678679174,195,NaN,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,NaN,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,NaN,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,None,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,Emergency,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,NaN,111,165,67,NaN,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,NaN,Female,Heidiborough,NaN,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,NaN,124.4083409893742

#### **Summary of Changes**
The columns names in the dataset are changed to lowercase and spaces replaced with an underscore. Missing values were originally filled with the value 'missing' which were then changed to 'NaN'. Lastly duplicate rows were removed.

**____________________________________________________________________________**

## **Data Transformation**

### Creating New Columns

### Aggregating Data

In [249]:
# Counts the number of patients with or without insurance
df['has_insurance'].value_counts()

Yes    47597
No     47403
Name: has_insurance, dtype: int64

In [248]:
# Counts the number of patients in each state
df['state_of_residence'].value_counts()

New Mexico        1969
Nevada            1969
Idaho             1965
Massachusetts     1959
California        1952
Ohio              1950
Connecticut       1950
Kentucky          1946
North Carolina    1944
New Jersey        1932
Alaska            1927
Wisconsin         1926
Nebraska          1922
Rhode Island      1918
Minnesota         1918
Wyoming           1917
West Virginia     1916
Arizona           1915
Tennessee         1914
South Carolina    1912
Virginia          1911
North Dakota      1911
Utah              1910
Kansas            1909
Pennsylvania      1908
Missouri          1906
Iowa              1906
Montana           1904
Mississippi       1897
Florida           1893
Louisiana         1893
New York          1891
Illinois          1891
Oregon            1888
Indiana           1886
Vermont           1885
Oklahoma          1876
Texas             1876
Alabama           1875
Michigan          1863
Georgia           1862
Colorado          1859
Delaware          1859
Hawaii            1857
Maryland          1853
Arkansas          1842
Washington        1835
New Hampshire     1826
South Dakota      1812
Maine             1795
Name: state_of_residence, dtype: int64

### Multi-dimensional Analysis

#### **Summary of Changes**

**____________________________________________________________________________**

## **Introduction to Alternative Libraries**

### Converting Data Types

In [258]:
# Convert data types
converted_df = {
    'patient_age': int,
    'gender': str,
    'city_of_residence': str,
    'state_of_residence': str,
    'has_insurance': str,
    'visited_last_month': str,
    'payment_method': str,
    'preferred_doctor': str,
    'disease_diagnosed': str,
    'medication_prescribed': str,
    'type_of_appointment': str,
    'average_heart_rate': int,
    'average_bp': int,
    'height_in_cm': int,
    'weight_in_kg': float,
    'payment_due_$': float,
    'last_visit_days_ago': int,
    'visit_duration_mins': int,
    'number_of_tests': int,
    'prescription_cost_$': float
}
df = converted_df
df

{'patient_age': int,
 'gender': str,
 'city_of_residence': str,
 'state_of_residence': str,
 'has_insurance': str,
 'visited_last_month': str,
 'payment_method': str,
 'preferred_doctor': str,
 'disease_diagnosed': str,
 'medication_prescribed': str,
 'type_of_appointment': str,
 'average_heart_rate': int,
 'average_bp': int,
 'height_in_cm': int,
 'weight_in_kg': float,
 'payment_due_$': float,
 'last_visit_days_ago': int,
 'visit_duration_mins': int,
 'number_of_tests': int,
 'prescription_cost_$': float}